.sidebar {
  width: 15.3125rem;
  height: 100vh;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  padding: 1.75rem 1.5625rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
